<div class="center jumbotron">
  <h1>I am fake</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "rails logo"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("kitten.jpg", alt: "kitten"), 'https://google.com' %>
<br>
<p id="buri">ブリブリ</p>
<p><%= root_url %></p>
<p><%= contact_path %></p>
<p><%= string_message("ahan") %></p>
<p><%= palindrome_tester("racecar").nil? %></p>
<p><%= nazo %></p>
